<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">Header</div>

<div class="container clearfix">
    <div class="jumbotron">
        <h2>History:</h2>
        <br/>
        <div>
            <div class="row">
                <div>
                    <th:block th:each="order : ${orders}">
                        <div class="col-lg-9 col-sm-3 float-left"
                             style="width: 300px; background-color: #ccc; border-radius: 2px; margin: 5px;padding: 10px;">
                            <label th:text="${order.getUser().email}"></label>
                            <label th:text="'('+${order.getOrderType()}+')'"></label>
                            <label th:text="${order.getTime()}"></label>
                            <label th:text="'Total price: '+${order.getTotalPrice()}+'kn'"></label>
                            <br/>
                            <table class="table table-dark table-striped" style="padding: 3px;">
                                <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Quantity</td>
                                    <td>Price:</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item  : ${order.getItems()}">
                                    <td th:text="${item.getProduct().getName()}">Username</td>
                                    <td th:text="${item.getQuantity()}">Quantity</td>
                                    <td th:text="${item.getQuantity() * item.getProduct().getPrice() +'kn'}">Price</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="row table-responsive">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <h2>Logins: </h2>
                    <table class="table table-dark table-striped">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>IP</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="log : ${logs}">
                            <td th:text="${log.principal}"></td>
                            <td th:text="${log.getIp()}"></td>
                            <td th:text="${log.getTime()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>